/*layout*/
html, body, #home{
    height: 100%;
    overflow-x: hidden; /*esconde a rolagem no eixo x, visible é o padrão.*/
}
body{
    background: url(../img/fundo-carousel.png),
                url(../imagens/ruido.png),
                linear-gradient(50deg,#0000ff,#32cd32);
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
}
nav.navbar-transparente{
    padding-bottom: 0px;
    padding-top: 0;
    background: linear-gradient(90deg, rgba(19, 80, 19, 0.6),rgba(0, 0, 100, 0.6));
}
/*para aplicar uma formatação sobre o bootstrap, vc tem que escrever detalhadamento como ele... ex. a seguir*/
.divisor{
    width: 1px;
    margin: 12px 15px;
    background: white;
}
.capa{
    text-align: center;
}
h1{
    font-weight: 900;
    letter-spacing: -0.05em;
    margin-bottom: 50px;
    color: white;
}
h2{
    font-size: 3em;
    font-weight: 700;
    letter-spacing: -0.04em;
}
h3{
    font-size: 2em;
    font-weight: 700;
    letter-spacing: -0.04em;
}
/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) { 
    .btn-custom{
        margin: 10px 15px;
    }
    #servicos{
        text-align: center;
    }
    footer{
        text-align: center;
    }
 }

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {     
    h1{
    font-size: 3em;
    }
    .btn-custom{
        margin: 10px 15px;
    }
    #servicos{
        text-align: center;
    }
    footer{
        text-align: center;
    }
    #servicos2{
        text-align: center;
    }
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) { 
    h1{
        font-size: 4em;
    }
    #servicos{
        text-align: center;
    }
    footer{
        text-align: center;
    }
    #servicos2{
        text-align: center;
    }
 }

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
    h1{
        font-size: 5em;
    }
    #servicos{
        text-align: center;
    }
    footer{
        text-align: center;
    }
    #servicos2{
        text-align: center;
    }
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 
    h1{
        font-size: 6em;
    }
    #servicos{
        text-align: center;
    }
    footer{
        text-align: center;
    }
    #servicos2{
        text-align: center;
    }
 }
 .btn-custom{
     color: white;
     border-radius: 500px;
     -webkit-border-radius: 500px;
     text-transform: uppercase;
     transition: background 0.4s, color 0.4s;
     padding: 10px 20px;
 }
 .btn-success:hover{
    background: white;
    color: black;
}
 .btn-primary:hover{
    background: white;
    color: black;
}
#servicos{
    background: white;
    padding-top: 20px;
    padding-bottom: 20px;
}
#servicos2 h2, h3, p{
    color: white;
}
#servicos p{
    color: black;
}
#servicos2{
    background: linear-gradient(260deg, rgba(19, 80, 19, 0.6),rgba(0, 0, 100, 0.6));
    padding-top: 20px;
    padding-bottom: 20px;
}
#servicos h2, h3{
    color: #0275d8;
}

footer{
    background: #000;
    padding: 50px 0 20px 0;
    position: relative;
}
footer h4{
    color: #919496;
    font-size: 0.8em;
    text-transform: uppercase;
}
footer .navbar-nav a{
    color: white;
    font-size: 0.8em;
}
footer .navbar-nav a:hover{
    color: #9bf0e1;
    font-size: 0.8em;
    text-decoration: none;
}
footer ul{
    list-style: none;
}
footer ul li{
    float: right;
    margin: 0 5px;
}
.carousel-control-next, .carousel-control-prev{
    width: 5px;
}
#home p {
    color: white;
}
.albuns{
    padding: 10px 0;
}